 @media screen and (min-width: 1200px){
	.container {
	  max-width: 1170px;
	}
 }

@media screen and (min-width: 992px){
	.container {
	  max-width: 970px;
	}
}

@media screen and (min-width: 768px){
	.container {
	  max-width: 750px;
	}
}
 

@font-face {
  font-family: 'Glyphicons Halflings1';

  src: url('resources/fonts/glyphicons-halflings-regular.eot');
  src: url('resources/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon1 {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings1';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




